@media screen and (min-width: 1200px) {
  #main {
    background-image: linear-gradient(to bottom right, rgba(72,61,139,1), rgba(72,61,139,0.75));
    padding-bottom: 20px;
  }
  #title {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-size: 2.5em;
    padding: 0px 0px 25px 0px;
    line-height: 0.50;
  }
  #description {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #f5fffa;
    font-size: 1.5em;
    line-height: 0.25;
  }
  #formdiv {
    width: 50%;
    margin: auto;
    background-color: #000033;
    opacity: 0.95;
    border: 1px;
    border-radius: 5px;
  }
  #survey-form {
    background-color: 191970;
    font-family: arial, Helvetica, sans-serif;
    border: 1px;
    padding: 60px 30px;
  }
  input[type=text], input[type=email], input[type=number], select {
    padding: 10px;
    width: 100%;
    margin: 8px 0 32px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #3cb371;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.10em;
  }
  input[type=submit]:hover {
    background-color: #2e8b57;
  }
  input[type="radio"], input[type=checkbox] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 8px 6px 8px 4px;
  }
  #comment {
    margin: 0px 0px 8px;
  }
  #dropdown {
    width: 100%;
  }
  #message {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .columnmid {
    width: 50%
  }
  .columnside {
    width: 25%
  }
  .label-text{
  color: white;
  font-size: 1.10em;
  padding: 0px;
  }
  .radiobot {
  margin: 10px 0px 10px 0px;
  }
}
@media screen and (min-width: 992px) {
  #main {
    background-image: linear-gradient(to bottom right, rgba(72,61,139,1), rgba(72,61,139,0.75));
    padding-bottom: 20px;
  }
  #title {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-size: 2.5em;
    padding: 0px 0px 15px 0px;
    line-height: 0.50;
  }
  #description {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #f5fffa;
    font-size: 1.5em;
    line-height: 0.25;
  }
  #formdiv {
    width: 60%;
    margin: auto;
    background-color: #000033;
    opacity: 0.95;
    border: 1px;
    border-radius: 5px;
  }
  #survey-form {
    background-color: 191970;
    font-family: arial, Helvetica, sans-serif;
    border: 1px;
    padding: 60px 30px;
  }
  input[type=text], input[type=email], input[type=number], select {
    padding: 10px;
    width: 100%;
    margin: 8px 0 32px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #3cb371;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.10em;
  }
  input[type=submit]:hover {
    background-color: #2e8b57;
  }
  input[type="radio"], input[type=checkbox] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 8px 6px 8px 4px;
  }
  #comment {
    margin: 0px 0px 8px;
  }
  #dropdown {
    width: 100%;
  }
  #message {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .columnmid {
    width: 50%
  }
  .columnside {
    width: 25%
  }
  .label-text{
  color: white;
  font-size: 1.10em;
  padding: 0px;
  }
  .radiobot {
  margin: 10px 0px 10px 0px;
  }
}
@media screen and (max-width: 576px) {
  #main {
    background-image: linear-gradient(to bottom right, rgba(72,61,139,1), rgba(72,61,139,0.75));
    padding-bottom: 20px;
  }
  #title {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-size: 1.5em;
    padding: 0px;
    line-height: 0.50;
  }
  #description {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #f5fffa;
    font-size: 1em;
    padding-top: 15px;
    width: 90%;
    margin: 0 auto;
  }
  #formdiv {
    width: 90%;
    margin: auto;
    background-color: #000033;
    opacity: 0.95;
    border: 1px;
    border-radius: 5px;
  }
  #survey-form {
    background-color: 191970;
    font-family: arial, Helvetica, sans-serif;
    border: 1px;
    padding: 60px 30px;
  }
  input[type=text], input[type=email], input[type=number], select {
    padding: 10px;
    width: 100%;
    margin: 8px 0 32px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #3cb371;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.10em;
  }
  input[type=submit]:hover {
    background-color: #2e8b57;
  }
  input[type="radio"], input[type=checkbox] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin: 8px 6px 8px 4px;
  }
  #comment {
    margin: 0px 0px 8px;
  }
  #dropdown {
    width: 100%;
  }
  #message {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .columnmid {
    width: 50%
  }
  .columnside {
    width: 25%
  }
  .label-text{
  color: white;
  font-size: 1.10em;
  padding: 0px;
  }
  .radiobot {
  margin: 10px 0px 10px 0px;
  }
}